<!doctype html>
<html class="no-js" lang="en">
<head>
    <!-- 
    --AUTHOR: Veronica De Santis
    --DESCRIPTION: Book manager è un sito utile all’esplorazione del mondo dei libri. Permette all’utente iscritto di navigare le liste di altri utenti in base a dei tag, 
      di creare delle liste proprie, di impostare dei favoriti o di inserire in autonomia i suoi libri preferiti.
    --PAGE DETAIL: Landing page di benvenuto
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Manager</title>
    <meta name="description" content="Gestione libri">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="../book.ico">
    <link rel="stylesheet" href="../vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../vendors/css/style.css">
    <link rel="stylesheet" href="../vendors/css/personal.css">

    <link href='../vendors/css/font.css' rel='stylesheet' type='text/css'>

    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../vendors/main.js"></script>

</head>

<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo default-cursor">
                        <a href="login.php" class="default-cursor">
                            <b>Book</b>  Manager
                        </a>
                    </div>
                <div class="login-form" id="info_form">
                    <form action="register.php" method="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="mx-auto d-block rounded-circle" id="img_value" src="../book.ico" alt="Avatar">
                            </div>
                        </div>
						<br>
						<br>
                        <div class="form-group">
                            Benvenuto su <b>Book</b> Manager.<br>
							Sei il benvenuto sul nostro sito. Qui puoi esplorare e scovare il tuo prossimo libro. Ma ricordati:
							<center><i>Bisogna sempre essere prudenti con i libri e con ciò che contengono. Perchè le parole hanno il potere di cambiarci.<br>
							~ Cassandra Clare ~</i></center>
                        </div>
                        <hr>
                        <div class="register-link m-t-15 text-center">
                            <p style="margin-bottom: 0px !important">Hai già un account ?<a href="login.php"> Accedi</a></p>
							<p>Oppure unisciti a noi<a href="register.php"> registrandoti</a>.</p>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>